.footer{
    width: 100%;

    background-color: var(--footer-color); 
    box-sizing: border-box;
    padding: 30px 150px;

    display: flex;
    gap: 100px;
    flex-direction: column;
    align-items: center;
}
.footer-icons .icons{
    flex-direction: row;
}
.footer-info{
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    padding: 40px 0;

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}
.footer-info a{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-info a p{
    font-style: italic;
    font-size: 14px;
}
.footer-info-image-container img{
    width: 30%;
    object-fit: cover;
    transition: all .25s ease;
}
.footer-info-image-container:hover img{
    transform: scale(1.1);
}


.footer-repo-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.footer-repo-container a{
    color: white;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    padding: 5px;
    opacity: .75;
}

.footer-copy-container{
    width: 100%;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.75;
}
.footer-copy-container > p{
    color: white;
    font-size: 12px;
    font-style: italic;
}
.footer-icons .icons{
    gap: 10px;
    margin: 0;
}
.footer-icons .icons a{
    width: 25px;
    height: 25px;
}

.privacy-policy svg {
    width: 20px;
    height: 20px;
}


/* @media(max-width: 875px){
    .footer{
        padding: 50px 50px;
    }
} */
@media(max-width: 660px){
    .footer-info{
        padding: 10px 0 40px 0;
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .footer-info-image-container img{
        width: 30%;
    }
}
@media(max-width: 500px){
    .footer{
        padding: 50px 30px;
    }
    .footer-info-image-container img{
        width: 50%;
    }
    .footer-copy-container{
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
}