.about-me-image {
    width: 100%;


    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;

    transition: all 0.3s ease;
    
    filter: contrast(150%);
}
.about-me-image:hover {
    transform: scale(1.05);
}