.navbar-right {
    display: flex;
    
    gap: 24px;
    font-size: 14px;
    line-height: 20px;

    align-items: center;
}
.navbar-right a {
    display: flex;
    align-items: center;

    color: var(--main-title-color);
    cursor: pointer;
}