.nav-container {
    width: 100%;
    height: var(--navbar-height);
    padding: 0px 30px;

    box-sizing: border-box;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: transparent;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #FFFFFF;

    transition: all 0.75s ease;

    background-color: var(--navbar-color);
}

.nav-container img {
    height: 50px;
    object-fit: contain;
}

.icon-responsive {
    width: 30px;
    height: 30px;

    cursor: pointer;
    transition: all 1s ease;
}
.icon-responsive svg{
    fill: var(--white);
    height: 100%;
    width: 100%;
}

.navbar-right ul{
    flex-direction: row;
}
.close-button{
    height: 28px;
    width: 28px;
    padding: 4px;
    background: rgba(0, 0, 0, .5);
    border-radius: 6px;
}



@media (max-width: 950px) {
    .navbar .navbar-right{
        display: none;
    }
    .icon-responsive{
        display: flex;
        align-items: center;
    }
}